.card__title{
    margin: 0;
    font-weight: 900;
    font-size: 24px;
    padding-left: 21px;
    /*после текста ставим точки*/
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}