.profile__button-add{
    width: 150px;
    height: 50px;
    background: url("../../../images/profile/add.svg") center no-repeat;
    transition: oapcity .25s ease;
    -webkit-tap-highlight-color: transparent;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
}
.profile__button-add:hover{
    opacity: 60%;
}
@media screen and (max-width: 1023px){
    .profile__button-add{
        padding: 17px 133px;

    }
}