.profile{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
@media screen and (max-width: 1023px){
    .profile{
        flex-direction: column;
        margin: 0 19px 0;
    }
}
@media screen and (max-width: 450px){
    .profile{
        margin-bottom: 36px;
    }
}
