/*.main-container{*/
/*    min-width: 320px;*/
/*    max-width: 1280px;*/
/*    color: #ffffff;*/
/*    font-family: "Inter", Arial, Helvetica, sans-serif;*/
/*    margin: 0 auto;*/
/*    background-color: #000;*/
/*}*/