/*сообщение об ошибке*/
.form__input-error {
    color: #FF0000;
    font-size: 12px;
    line-height: 15px;
    position: absolute;
    left: 0;
    top: calc(100% + 6px);
    opacity: 0; /*скрываем сообщение об ошибке*/
    transition: opacity .3s;
}
