.popup{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s, opacity .3s ease-in-out;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: contain;
}
